body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family:  Arial;
    width: 100%;
    color: #fff;
    background-image: url("../img/body-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    	overflow-y: scroll;
	overflow-x: hidden;
}


/* BODY-BACKGROUND */

.cb-slideshow, .cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s; 
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url("../img/body-bg.jpg"); 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url("../img/body-bg1.jpg"); 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url("../img/body-bg2.jpg"); 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}

.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

/* BODY-BACKGROUND END */

*{
    margin: 0px;
    padding: 0px;
}

img {border: 0px;}

a {text-decoration: none;}

/* HEADER */
.header {
	width: 100%;
	position: relative;
}

.green-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 74px;
	background: #119a58;
	width: 100%;
	min-width: 300px;
	z-index: 1;
	opacity: 0.7;
}

.header-content {
	margin: 0 auto 26px;
	width: 870px;
	height: 62px;
	overflow: hidden;
	padding: 5px 22px 7px 20px;
	background: url("../img/header-content-bg.png");
	position: relative;
	z-index: 555;
}

.logo {
	float: left;
}

.contact-tel {
	float: right;
	text-indent: 17px;
	background: url("../img/contact.png") center left no-repeat;
}

.contact-tel span {
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
}

.sign-in {
	width: 400px;
	text-align: right;
	float: right;
	padding: 4px 0 5px;
	color: #fff;
	font-size: 0.78em;
}

.sign-in a {color: #119a58;}

.sign-in a:hover {text-decoration: underline;}

.header-menu {
	float: right;
	width: 541px;
	height: 20px;
	margin-top: 0px;
	text-align: right;
}

.header-menu li {
	float: left;
	padding: 0 6px;
}

li.last-li {padding-right: 0px;}

.header-menu li a {
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 0.9em;
}

.header-menu li a:hover {
	text-shadow: 4px 0px 6px #41ba74;
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color='41ba74');
}


/* TITLE & SEARCH */
.title-search {
	margin: 0 auto 3px;
	width: 912px;
	height: 39px;
	position: relative;
}

.title {
	height: 39px;
	float: left;
	padding: 0 22px 0 26px;
	background: #119a58;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 39px;
}	

.title a, .title span {
	color: #fff;
	text-shadow: 2px 0px 3px #0a0a0a;
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color='0a0a0a');
}

.search {
	float: right;
	width: 177px;
	height: 24px;
	margin-top: 6px;
}

.search .search-text {
	float: left;
	width: 145px;
	height: 24px;
	background: #000;
	border: none;
	color: #fff;
	padding-left: 5px;
	font-size: 0.8em;
	line-height: 23px;
}

.search .search-submit {
	float: left;
	width: 27px;
	height: 24px;
	border: none;
	cursor: pointer;
	background: url("../img/search.png") no-repeat;
}

/* MIDDLE */
.middle {
	width: 100%;
	text-align: left;
	position: relative;
	background: url("../img/middle-bg.png");
}

.middle-content {
	margin: 0 auto;
	width: 902px;
	padding-left: 9px;
	overflow: hidden;
	position: relative;
	background: url("../img/middle-content-bg.png");
}

.middle-content-left{
	float: left;
	position: relative; 
	width: 434px; 
	height: 572px; 
	overflow: auto;  
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.car-block {
	float: left;
	width: 182px;
	margin: 11px 11px 6px 11px;
}

.car-block img {
	float: left;
	width: 178px;
	height: 89px;
	margin-bottom: 6px;
	border: 2px solid #119a58;
}

.car-block span {
	font-size: 0.8em;
	padding: 2px 5px 5px 3px;
}

.order {
	float: right;
	height: 18px;
	margin-top: 5px;
	background: #119a58;
}

.order p {
	font-size: 0.8em;
	margin-left: 5px;
	background: #000;
	line-height: 15px;
}

.order p a {
	color: #119a58;	
	display: block;	
	padding: 0 10px;	
	height: 18px;
}

.middle-content-right {
	float: left;
	width: 444px;
	position: relative;
	padding: 15px 23px 7px 0;
}

.about, .selected-car {
	float: left;
	width: 217px;
}

.about-title, .speed-news-title, .selected-car-title {
	float: left;
	height: 32px;
	width: 100%;
	background: #119a58;
	margin-bottom: 11px;
}

.about-title h2, .speed-news-title h2, .selected-car-title h2 {
	height: 32px;
	margin-left: 5px;
	background: #000;
	padding: 0 10px;
	line-height: 35px;
	font-weight: bold;
}

.about img {
	float: left;
	width: 211px;
	height: 137px;
	border: 2px solid #119a58;
}

.about p {
	float: left;
	font-size: 0.76em;
	padding: 12px 0 0px 5px;
	line-height: 18px;
}

.about a {
	float: right;
	color: #119a58;
	font-size: 0.8em;
}

.about a:hover {text-decoration: underline;}

.speed-news {
	float: left;
	width: 213px;
	margin-left: 14px;
}

.speed-news-block {
	width: 213px;
	float: left;
	margin: 0px 0 7px;
}

.speed-news-block img {
	float: left;
	width: 60px;
	height: 60px;
	margin: 0 13px 7px 0;
	border: 2px solid #119a58;
}

.speed-news-block p {
	float: left;
	width: 129px;
	font-weight: bold;
	font-size: 0.56em;
}

.speed-news-block span {
	float: left;
	width: 129px;
	color: #b3b3b3;
	font-weight: bold;
	font-size: 0.56em;
	padding-top: 4px;
}

.speed-news-block a {
	float: left;
	color: #119a58;
	font-size: 0.75em;
	padding-top: 3px;
}

.speed-news-block a:hover {text-decoration: underline;}

.exchange {
	float: left;
	width: 444px;
	height: 21px;
	margin-top: 1px;
	background: #119a58;
	position: relative;
}

.exchange-navigation {
	float: left;
	width: 11px;
	height: 21px;
	background-image: url("../img/exchange-navi.png");
	cursor: pointer;
}

.exchange-navigation-left {background-position: 0px 0px;}

.exchange-navigation-right {background-position: 11px 0px;}

.exchange marquee {
	float: left;
	font-size: 0.6em;
	line-height: 20px;
	width: 422px;
	color: #000;
}

.exchange marquee span {margin-left: -380px;}

.know-price {
	float: left;
	width: 190px;
	padding-left: 27px;
	margin-right: 16px;
}

.field {
	float: left;
	padding: 7px 0;
	position: relative;
	color: #000;
}

.field p {
	margin-bottom: 3px;
	padding-left: 2px;
	color: #119a58;
	font-size: 0.65em;
}

.calendar {
	float: left;
	background: url("../img/calendar.gif") right top #fff no-repeat;
	height: 15px;
	width: 88px;
	padding-left: 10px;
	border: 0px;
	cursor: pointer;
	font-size: 0.75em;
}

.select {
	float: left;
	height: 15px;
	position:relative;
	font-size: 0.70em;
	line-height: 14px;
	border: 0px;
	opacity: 1;
	z-index: 1;
}

.field span {
	position: absolute;
	top: 23px;
	right: 0;
	width: 56px;
	height: 15px;
	text-indent: 4px;
	overflow: hidden;
	background: url("../img/select-bg.png") no-repeat center right #fff;
	cursor: default;
	z-index: 2;
}

.select-x {
	width: 56px;
	margin-left: 4px;
}

.select-car {
	width: 158px;
}

/* dynamically created SPAN, placed below the SELECT */
span.select{
	position: absolute;
	top: 23px;
	right: 0;
	width: 56px;
	text-indent: 2px;
	overflow: hidden;
	background: url("../img/select-bg.png") no-repeat center right #fff;
	cursor: default;
	z-index: 2;
}
	
.car-select span {width: 158px;}

.submit {
	float: right;
	height: 18px;
	margin-top: 5px;
	margin-right: 32px;
	background: #119A58;
}

.submit-main {
	float: left;
	height: 18px;
	border: 0px;
	color: #fff;
	font-size: 0.65em;
	margin-left: 5px;
	background: black;
	line-height: 15px;
	padding: 0 10px;
	cursor: pointer;
}

/* FACEBOOK LIKE BOX */
.social {
	float: left;
	width: 211px;
	height: 173px;
	background: transparent;
}

/* FOOTER */
.footer {
	width: 100%;
	background: #000;
	position: relative;
	margin-top: 22px;
}

.footer-content {
	margin: 0 auto;
	width: 868px;
	height: 36px;
	line-height: 36px;
}

.social-network {
	float: left;
	width: 178px;
	height: 15px;
	padding-left: 14px;
	text-align: left;
}

.social-network a {
	margin-left: 5px;
}

.copyright {
	float: left;
	margin-left: 100px;
	line-height: 30px;
}

.copyright span {
	font-size: 0.65em;
}

.footer-menu {
	float: right;
	line-height: 30px;
}

.footer-menu li {
	float: left;
}

.footer-menu li a {
	color: #fff;
	font-size: 0.65em;
	padding: 0 9px 0 7px;
}

.footer-menu li a:hover {color: #119A58; }

.green {
	position: absolute;
	width: 8px;
	height: 36px;
	background: #119A58;
	bottom: 0;
	right: 0;
}

#ui-datepicker-div{z-index: 99 !important;}

/*------------------------------------------------------------ INSIDE --------------------------------------------------------------------*/

.about-us {
	float: left;
	width: 400px;
	margin: 11px 0px 6px 11px;
}

.about-us p {
	float: left;
	font-size: 0.8em;
	line-height: 20px;
}

.about-us img {
	float: left;
	width: 200px;
	height: 194px;
	margin-right: 7px;
	border: 2px solid #119a58;
}

.about-us p span {
	line-height: 18px;
	color: #119A58;
}

.selected {
	float: left;
	position: relative; 
	width: 100%; 
	height: 300px; 
	overflow: auto;  
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

div.selected .mCustomScrollBox .mCSB_scrollTools {margin-right: 0px;}

div.selected .car-block {
	float: left;
	width: 210px;
	margin: 0 0 16px 0;
}

div.selected .car-block img {
	float: left;
	width: 106px;
	height: 70px;
	margin-right: 6px;
	margin-bottom: 0px;
	border: 2px solid #119a58;
}

div.selected .car-block span {
	float: left;
	width: 94px;
	line-height: 14px;
	font-size: 0.52em;
	padding: 0px;
}

div.selected a {
	color: #119a58;	
	display: block;	
	padding: 10px 6px 0 0;	
	height: 18px;
	float: right;
	font-size: 0.72em;
}

div.selected a:hover {text-decoration: underline;}


div#slideshow {
 	width: 397px;
 	height: 321px;
	float: left;
	margin: 15px 0 0 12px;
	border: 2px solid #119a58;
	background: url(images/border.png);
	overflow: scroll; /* Allows the slides to be viewed using scrollbar if Javascript isn't available */ 
	position: relative; 
	z-index: 5;
}

div#slideshow ul#nav {
	display: block;
	list-style: none;
	position: relative; 
	top: 135px; 
	z-index: 15;
}

div#slideshow ul#nav li {position: absolute;}

div#slideshow ul#nav li#prev {
	float: left; 
	margin: 0px;
	left: 0px;
}

div#slideshow ul#nav li#next {
	float: right; 
	margin: 0px;
	right: 0px;
}
		
div#slideshow ul#nav li a {
	display: block;
	width: 28px;
	height: 28px;
	text-indent: -9999px;
	background-repeat: no-repeat;
}

div#slideshow ul#nav li#prev a {
	background: url("../img/prev.png");
}

div#slideshow ul#nav li#next a {
	background: url("../img/next.png");
}

div#slideshow ul#slides {
	list-style: none;
}

div#slideshow ul#slides li {
	margin: 0 0 20px 0;
}

.share-order {
	float: left;
	width: 397px;
	margin: 8px 0 5px 12px;
}

.model-share {
	float: left;
	
}

.model-share a {
	float: left;
	width: 26px;
	height: 24px;
	display: block;
	background: url("../img/share.png") no-repeat;
}

.model-share .share-fb {
	background-position: 0px 0px;
}
.model-share .share-tw {background-position: 0px -24px;}
.model-share .share-g {background-position: 0px -48px;}
.model-share .share-in {background-position: 0px -72px;}
.model-share .share-sh {background-position: 0px -96px;}
.model-share .share-sh:hover {background-position: 0px -120px;}

.share-order .order {
	margin-top: 3px;
}


.car-info {
	float: left;
	width: 408px;
	height: 182px;
	font-size: 0.8em;
	margin-left: 12px;
}

.car-info-left, .car-info-right {
	float: left;
	width: 178px;
	margin: 7px 0 8px 0;
}

.car-info-left {
	padding-left: 8px;
}

.car-info-right {
	margin-left: 25px;
}

.car-info-left p, .car-info-right p {
	line-height: 20px;
}


.add-car-info {
	float: left;
	width: 397px;
}

.add-car-info-title {
	float: left;
	width: 397px;
	line-height: 0px;
	height: 13px;
}

.add-car-info-title .hr1, .add-car-info-title .hr2 {
	float: left;
	width: 312px;
	border: 0px;
	height: 2px;
}

.add-car-info-title .hr1 {
	background: #131313;
	margin-top: 5px;
}

.add-car-info-title .hr2 {
	background: #119a58;
}

.add-car-info-title h3 {
	float: left;
	color: #119a58;
	padding-left: 5px;
	font-size: 0.85em;
	font-weight: bold;
}

.add-car-info p {
	font-size: 0.75em;
	float: left;
	padding: 3px 10px 3px 8px;
}










